* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
}

.header-top {
  align-items: baseline;
  background-color: #f72210;
  color: white;
  display: flex;
  height: 110px;
  justify-content: space-between;
  padding: 0 20px;
}

h1 {
  font-size: 70px;
  font-weight: 900;
}

a {
  color: black;
}

nav a {
  color: black;
  transition: 0.2s;
}

h1 a {
  font-family: 'Playfair Display', serif;
}

.header-top a {
  color: white;
}

.location-date a {
  font-size: 15px;
  font-weight: bold;
}

.header-top a:hover {
  text-decoration: none;
}

.location-date {
  align-self: center;
  margin-top: 10px;
}

.location-date img {
  margin-right: 5px;
}

.location-date a span {
  margin-left: 10px;
}

.location-date p {
  font-size: 15px;
  margin-top: 10px;
}

.user-account {
  font-weight: bold;
}

.user-account button {
  border: none;
  color: #f72210;
  font-weight: bold;
  margin-left: 10px;
  width: 130px;
}

nav {
  clip-path: polygon(0 0, 96% 0, 100% 99%, 0% 100%);
  background-color: white;
  height: 60px;
  margin-top: -15px;
  width: calc(100% - 45px);
}

nav ul {
  font-size: 17px;
  font-weight: bold;
  list-style: none;
  padding-top: 15px;
  padding-right: 55px;
  text-align: center;
}

nav li {
  border-right: solid 1px lightgrey;
}

nav li :hover {
  color: #f72210;
  text-decoration: none;
  transition: 0.2s;
}

.nav-search {
  border: none;
}

.nav-search input {
  border: none;
  width: 60px;
}

.nav-search i {
  color: rgb(39, 39, 39);
  padding-left: 5px;
}

nav ul :nth-child(11) {
  border: none;
}

main {
  padding: 20px 15px;
}

main section {
  padding: 0 15px;
}

main a {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

main a:hover {
  text-decoration: none;
  color: rgb(151, 151, 151);;
}

main h4 a {
  color: rgb(151, 151, 151);
  font-size: 14px;
}

.main-section-article-img {
  position: relative;
}

.main-section-article-img-topic {
  bottom: 0;
  background-color: rgb(250, 250, 250, 0.8);
  color: #f72210;
  left: 0;
  padding: 5px 15px;
  position: absolute;
}

.main-section-article-img-topic:hover {
  color: #f72210;
}

main article h2 {
  font-size: 1.5em;
  line-height: 25px;
  margin-top: 10px;
}

main article h2 a:hover {
  color: black;
  text-decoration: underline #f72210;
}

main article p {
  color: rgb(68, 68, 68);
  font-size: 0.85em;
  margin: 0;
}

main article h3 {
  font-size: 1.1em;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  padding: 15px 0;
  margin: 0;
  margin-top: -1px;
}

main article h3 a:hover {
  color: #f72210;
}

main section article > :last-child {
  margin-bottom: 20px;
}
