* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
}

.header-top {
  align-items: baseline;
  background-color: #f72210;
  color: white;
  display: flex;
  height: 110px;
  justify-content: space-between;
  padding: 0 20px;
}

.header-top a {
  color: white;
}

.header-top a:hover {
  text-decoration: none;
}

.location-date {
  align-self: center;
  margin-top: 10px;
}

.location-date a {
  font-size: 15px;
  font-weight: bold;
}

.location-date img {
    margin-right: 5px;
}

.location-date a span {
  margin-left: 10px;
}

.location-date p {
  font-size: 15px;
  margin-top: 10px;
}

h1 {
  font-size: 70px;
  font-weight: 900;
}

h1 a {
  font-family: 'Playfair Display', serif;
}

.user-account {
  font-weight: bold;
}

.user-account button {
  border: none;
  color: #f72210;
  font-weight: bold;
  margin-left: 10px;
  width: 130px;
}
nav {
  clip-path: polygon(0 0, 96% 0, 100% 99%, 0% 100%);
  background-color: white;
  height: 60px;
  margin-top: -15px;
  width: calc(100% - 45px);
}

nav ul {
  font-size: 17px;
  font-weight: bold;
  list-style: none;
  padding-top: 15px;
  padding-right: 55px;
  text-align: center;
}

nav li {
  border-right: solid 1px lightgrey;
}

nav a {
  color: black;
  transition: 0.2s;
}

nav li :hover {
  color: #f72210;
  text-decoration: none;
  transition: 0.2s;
}

.nav-search {
  border: none;
}

.nav-search input {
  border: none;
  width: 60px;
}

.nav-search i {
  color: rgb(39, 39, 39);
  padding-left: 5px;
}

nav ul :nth-child(11) {
  border: none;
}

